<h3>{{{ markdown @root.translation.expenseTemplates.add.pageTitle }}}</h3>

<form method="POST">
    <div class="d-flex flex-column-reverse">
        <div class="d-flex flex-row">
            <button type="submit" name="command" value="add" class="btn btn-sm btn-primary">
                {{{ markdown @root.translation.expenseTemplates.add.addButtonLabel }}}
            </button>
            <a href="/expense-templates" class="ms-2 btn btn-sm btn-secondary">
                {{{ markdown @root.translation.expenseTemplates.add.cancelButtonLabel }}}
            </a>
        </div>

        <div>
            {{> expenseTemplates/form}}
        </div>
    </div>
</form>