table.table-sticky {
    >thead {
        >tr {
            position: sticky;
            top: 0;
            @extend .bg-white;

            >th {
                padding: 0;
                border-bottom: 0;

                >div {
                    border-bottom-width: 1px;
                    border-bottom-style: solid;
                    border-bottom-color: $table-border-color;
                }
            }
        }
    }

    >tbody {
        &:last-of-type:not(:last-child) tr:last-child td {
            border-bottom: 0;
        }
    }

    >tfoot {
        >tr {
            position: sticky;
            bottom: 0;
            @extend .bg-white;

            >td {
                padding: 0;

                >div {
                    border-top-width: 1px;
                    border-top-style: solid;
                    border-top-color: $table-border-color;
                }
            }
        }
    }

    &:not(.table-sm) {

        >thead>tr>th>div,
        >tfoot>tr>td>div {
            padding: $table-cell-padding-y $table-cell-padding-x;
        }
    }

    &.table-sm {

        >thead>tr>th>div,
        >tfoot>tr>td>div {
            padding: $table-cell-padding-y-sm $table-cell-padding-x-sm;
        }
    }
}