$tagsColors: (
    /** Flat UI Palette v1 Color Palette start */
    (
        key: "1ABC9C",
        textColor: #FFFFFF,
        backgroundColor: #1ABC9C
    ),
    (
        key: "16A085",
        textColor: #FFFFFF,
        backgroundColor: #16A085
    ),
    (
        key: "2ECC71",
        textColor: #FFFFFF,
        backgroundColor: #2ECC71
    ),
    (
        key: "27AE60",
        textColor: #FFFFFF,
        backgroundColor: #27AE60
    ),
    (
        key: "3498DB",
        textColor: #FFFFFF,
        backgroundColor: #3498DB
    ),
    (
        key: "2980B9",
        textColor: #FFFFFF,
        backgroundColor: #2980B9
    ),
    (
        key: "9B59B6",
        textColor: #FFFFFF,
        backgroundColor: #9B59B6
    ),
    (
        key: "8E44AD",
        textColor: #FFFFFF,
        backgroundColor: #8E44AD
    ),
    (
        key: "34495E",
        textColor: #FFFFFF,
        backgroundColor: #34495E
    ),
    (
        key: "2C3E50",
        textColor: #FFFFFF,
        backgroundColor: #2C3E50
    ),
    (
        key: "F1C40F",
        textColor: #FFFFFF,
        backgroundColor: #F1C40F
    ),
    (
        key: "F39C12",
        textColor: #FFFFFF,
        backgroundColor: #F39C12
    ),
    (
        key: "E67E22",
        textColor: #FFFFFF,
        backgroundColor: #E67E22
    ),
    (
        key: "D35400",
        textColor: #FFFFFF,
        backgroundColor: #D35400
    ),
    (
        key: "E74C3C",
        textColor: #FFFFFF,
        backgroundColor: #E74C3C
    ),
    (
        key: "C0392B",
        textColor: #FFFFFF,
        backgroundColor: #C0392B
    ),
    (
        key: "ECF0F1",
        textColor: #000000,
        backgroundColor: #ECF0F1
    ),
    (
        key: "BDC3C7",
        textColor: #FFFFFF,
        backgroundColor: #BDC3C7
    ),
    (
        key: "95A5A6",
        textColor: #FFFFFF,
        backgroundColor: #95A5A6
    ),
    (
        key: "7F8C8D",
        textColor: #FFFFFF,
        backgroundColor: #7F8C8D
    ),
    /** Flat UI Palette v1 Color Palette end */

    /** Pastel Rainbow Color Palette start */
    (
        key: "FFADAD",
        textColor: #FFFFFF,
        backgroundColor: #FFADAD
    ),
    (
        key: "FFD6A5",
        textColor: #000000,
        backgroundColor: #FFD6A5
    ),
    (
        key: "FDFFB6",
        textColor: #000000,
        backgroundColor: #FDFFB6
    ),
    (
        key: "CAFFBF",
        textColor: #000000,
        backgroundColor: #CAFFBF
    ),
    (
        key: "9BF6FF",
        textColor: #000000,
        backgroundColor: #9BF6FF
    ),
    (
        key: "A0C4FF",
        textColor: #FFFFFF,
        backgroundColor: #A0C4FF
    ),
    (
        key: "BDB2FF",
        textColor: #FFFFFF,
        backgroundColor: #BDB2FF
    ),
    (
        key: "FFC6FF",
        textColor: #FFFFFF,
        backgroundColor: #FFC6FF
    ),
    /** Pastel Rainbow Color Palette end */

    /** Moody Sunset Color Palette start */
    // (
    //     key: "003F5C",
    //     textColor: #FFFFFF
    //     backgroundColor: #003F5C
    // ),
    // (
    //     key: "58508D",
    //     textColor: #FFFFFF,
    //     backgroundColor: #58508D
    // ),
    // (
    //     key: "BC5090",
    //     textColor: #FFFFFF,
    //     backgroundColor: #BC5090
    // ),
    (
        key: "FF6361",
        textColor: #FFFFFF,
        backgroundColor: #FF6361
    ),
    (
        key: "FFA600",
        textColor: #FFFFFF,
        backgroundColor: #FFA600
    )
    /** Moody Sunset Color Palette end */
);