<h3>Expense Not Found</h3>

<div class="alert alert-danger p-2" role="alert">
    <p>{{ form.error }}</p>
    <ul>
        <li><a href="/expenses/{{ route.month }}" class="alert-link">Expenses list view</a></li>
    </ul>
</div>