@import "~bootstrap/scss/bootstrap";
@import "./style/header";
@import "./style/tables";
@import "./style/tags";
@import "./style/azureActiveDirectory";

html {
    @extend .h-100;
}

body {
    @extend .h-100;
    @extend .d-flex;
    @extend .flex-column;
}

.currency-input {
    flex: initial !important;
    width: 90px !important;
}

a > svg {
    fill: $warning;
}

.text-justify {
    text-align: justify;
}

.centered-view {
    width: auto;
}

@include media-breakpoint-up(md) {
    .centered-view {
        width: 500px;
    }
}