<h3>About</h3>

<p><em>
    Sometimes, when I try to understand my budget I play a little game. I assume the worst.
    What's the worst reason I could possibly have for spending money and not saving as I should?
    Then I ask myself, how well does that reason explain what I save and what I spend?
    So tell me, what's the worst thing I should not buy?
</em></p>

<p>
    Littlefinger is a finance tracking tool for your expenses and investments. It's provided for free, so make the best out of it.
    Obviously, the name and logo are <em>inspired</em> from Game of Thrones. Petyr "Littlefinger" Baelish is shreud and cunning,
    a very smart person that has built his fortune from just about nothing. He made himself what he is through sheer discipline
    and intellect, as one should with their finances if they wish to have better security.
</p>

<h4>Resources</h4>
<ul>
    <li>Littlefinger cartoon from <a target="_blank" href="https://www.jamiesale-cartoonist.com">https://www.jamiesale-cartoonist.com</a></li>
</ul>