<h3>About</h3>

<p>LittleFinger is a finance tracking tool for your expenses and investments. It's provided for free, so make the best out of it.</p>

<h4>Resources</h4>
<ul>
    <li>LittleFinger cartoon from <a target="_blank" href="https://www.jamiesale-cartoonist.com">https://www.jamiesale-cartoonist.com</a></li>
</ul>