<div class="mx-auto">
    <div class="d-flex flex-row">
        <div class="translation ms-auto me-3 px-2 pb-1" title="{{ translation.description }}">
            {{ translation.locale }} | {{ translation.name }}
        </div>
    </div>
    <div class="px-3 py-4">
        {{> @partial-block }}
    </div>
</div>