<div class="mx-auto" dir="ltr">
    <div class="d-flex flex-row">
        {{> layouts/app-info class='ms-auto me-3'}}
    </div>
    <div class="px-3 py-4">
        {{> @partial-block }}
    </div>
</div>